# env files
.env
.env.*
Backend/.env
Frontend/.env

# python cache
__pycache__/
*.pyc

# node modules
node_modules/

# build outputs
dist/
build/

# vite cache
.vite/

# logs
*.log

# OS files
.DS_Store
Thumbs.db
